* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  background-color: #18332e;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
  font-size: 16px;
}

header {
  margin-bottom: 60px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.logo a {
  font-size: 30px;
  color: white;
}

.nav-links {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-links a {
  color: white;
  font-size: 22px;
}

.button a {
  display: block;
}

.button {
  background-color: #2b5b52;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.2s ease-in;
}

.button:hover {
  background-color: #31685e;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 50px;
}

.hero h1 {
  font-size: 80px;
}

.hero p {
  line-height: 1.7;
}

.hero-img img {
  max-width: 600px;
}

.about {
  background-color: #132925;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 100px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.about h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}
.about-img img {
  max-width: 550px;
}

.about p {
  margin-bottom: 50px;
}

.about a {
  display: block;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  color: white;
}

.news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
  color: white;
  margin-bottom: 80px;
}
.article {
  background-color: #132925;
  width: 100%;
  padding: 40px 10px;
  border-radius: 20px;
}
.article h3 {
  font-size: 30px;
}
.article a {
  color: white;
  padding: 10px 60px;
}
.article-img img {
  max-width: 400px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #132925;
  color: white;
  padding: 40px;
  border-radius: 20px;
}

.footer-heading {
  font-size: 22px;
}

.footer-element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer-menu a {
  color: white;
}
